@{
    ViewData["Title"] = "Dashboard";
}

<div class="row gap-20 masonry pos-r" style="overflow: initial!important;">
    <div class="masonry-sizer col-md-6"></div>
    <div class="masonry-item w-100">
        <div class="row gap-20">
            <div class="col-md-3">
                <div class="layers bd bgc-white p-20">
                    <div class="layer w-100 mB-10">
                        <h6 class="lh-1">Sample Job</h6>
                        <p class="description">This is a "Hello World" job</p>
                        <p class="namespace">DashService.Job.Sample</p>
                        <p class="version">Version 1.0.0</p>
                    </div>
                    <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                            <div class="peer peer-greed">
                                <button type="button" class="btn btn-info bdrs-50p w-2r p-0 h-2r"><i class="fa fa-pause"></i></button>
                                <button type="button" class="btn btn-success bdrs-50p w-2r p-0 h-2r"><i class="fa fa-play"></i></button>
                                <button type="button" class="btn btn-danger bdrs-50p w-2r p-0 h-2r"><i class="fa fa-power-off"></i></button>
                            </div>
                            <div class="peer">
                                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">Running</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>